body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
p{
    color: dimgray;
    margin-bottom: 30px;
}
h1{
    font-size: 40px;
    margin-bottom: 20px;
}
section{
    height: 500px;
    padding-bottom: 150px;
    overflow: hidden;
}
/* Header */
.header{
    background-image: url("img/header-bg.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: left;
}
.header-left{
    width: 40%;
    margin-left: 20%;
    padding-top: 10%;
    float: left;
}
.header-right{
    width: 30%;
    float: left;
    padding-right: 5%;
    padding-top: 5%;
}
.header-right img{
    width: 100%;
}
.name-highlight{
    color:#ff0022e3;
    font-weight: 900;
}
.top-button{
    text-decoration: none;
    background-color: orangered;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
    background-image: linear-gradient(45deg, salmon, red);
}
/* Biography */
.biography{
    background-image: url("img/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.biography-left{
    width: 25%;
    float: left;
    margin-left: 10%;
    padding-top: 6%;
}
.biography-right{
    width: 40%;
    margin-left: 15%;
    padding-top: 10%;
    float: left;
}
.biography-left img{
    width: 100%;
}
.biography-width img{
    width: 100%;  
}
.cv-button{
    text-decoration: none;
    background-color: orangered;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    background-image: linear-gradient(45deg, salmon, red);
}
/*----------my work--------*/
.my-work{
    background-image: url("img/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.my-work-top{
    text-align: center;
   padding-top: 10px;
    padding-bottom: 50px;
    font-size: 30px;
}
.my-work-full{
    width:28%;
    margin-left:3%;
    float: left;
    
}
.my-work-full img{
    width: 100%;
    padding: 2px;
}
/*------------------client message----------------*/
.client-side{
    text-align: center;
    background-image: url("img/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.email{
    background-color: red;
    display: inline-block;
    margin-top: 30px;
    padding:0px 100px ;
    height: 100px;
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    color: white;
}
#founder-name{
    color: black;
    font-weight: bold;
}
#email-name{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
/*----------------fotter------------*/
footer{
    text-align: center;
}