.header-container{
    margin-top: 50px;
    margin-bottom: 150px;
}
.banner-text{
   padding-top: 70px;
}
.banner-text h2{
    color: #D74D41;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 30px
}
button{
    height: 40px;
    padding: 5px 20px;
    background: linear-gradient(to right, rgba(254, 26, 23, 0.747), rgba(182, 43, 25,1));
    outline: none !important;
    border: none;
    border-radius: 10px
}
.biography-text{
    padding-top: 70px;
}
.biography-container{
   background-image: url(./images/logos/biography-bg.png);
   background-size: cover;
}
.work-header{
    margin: 100px 0;
    text-align: center;
}
.client-feedback{
    margin-top: 100px;
}
.client-message{
    height: 100px;
    width: 500px;
    color: white;
    background:linear-gradient(to right, rgba(254, 26, 23, 0.747), rgba(182, 43, 25,1));
    padding: 10px 30px;
    margin-bottom: 100px;
}
@media screen and (max-width: 600px) {
    .header-container{
        margin-top: 0px; 
    }
}
@media screen and (max-width: 600px) {
     .biography-text{
        padding-top: 0px; 
    }
}
@media screen and (max-width: 600px){
   .client-message{
       width: 380px;
   }
}